{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1> Something went wrong (500)</h1>
        <p>We're experiencing some trouble</p>
    </div>
{% endblock content%}