
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.pg-div-class{
  
  display: flex;
  
}

.pg-div-class a{
  display: block;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  line-height: 40px !important;
  background: #ffffff;
  color: #262626;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 15px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
}

.pg-class-selected{
  background-color: #80bff7 !important;
}

.pg-class:hover{
  background-color: #497fad !important;
  box-shadow: inset 0 5px 15px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,.0,.5);
}

.test{
  margin-top: 0.7%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 200%;
}
